html, body {
  width: 800px;
  height: 800px;
}
  
.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.button:hover {
  background-color: #CFF2F2;
}

.button {
  background-color: #E5F2F2;
}

.info-content {
  width: 750px;
  height: 150px;
}